#body {
    text-align: center;
}

#linha{
    text-align: justify;
}

#titulo {
    background-color: rgb(69, 21, 114);
}

#titulocor {
    color: rgba(255, 255, 255, 0.918);
}

#btn {
    color: rgb(83, 18, 145);
}